.cardWeather{
height: 200px;
width: 200px;
position: relative;
    
}
.cardWeather > div{
top: 50%;
left: 50%;
}
/*.infoContainer > p {
    margin-left: auto;
    margin-right: auto;
    text-align: center 
}*/